<!DOCTYPE html>
<html>
<head>
  <title>Форма входу</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h2>Форма входу</h2>
  <form method="POST" action="/">
    <label for="username">Ім'я користувача:</label>
    <input type="text" id="username" name="username" required><br><br>
    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required><br><br>
    <input type="submit" value="Увійти">
  </form>
</body>
</html>
